<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/send.svg" type="image/x-icon">
    <title>Say Hiiii...</title>

</head>

<body>
    <div id="page1">
        <div id="left">
            <h1>Say Hii<e>&#128075;</e>
            </h1>
            <h1>To World</h1>
        </div>

        <div id="right">
            <input type="text" placeholder="Enter Your Name" id="name">
            <a id="a">Say hii &#128075; </a>
            <ul>
                <li>dont abuse</li>
                <li>100% safe chat</li>
                <li>easy chat</li>
                <li>based on websockes</li>
            </ul>
        </div>

    </div>

    <div id="page2">
        <div id="part1">
            <h1>Say Hii<e>&#128075;</e>
            </h1>
            <h1>To World</h1>
        </div>
        <div id="chat-sec">
            <div id="note">
                <img src="/info.svg" alt="">
            </div>
            <div id="chats">
                

            </div>
            <div id="inputsec">
                <input type="text" id="input" placeholder="Enter Your Message.">
                <div id="send">
                    <img src="/send.svg" alt="">
                </div>
            </div>
        </div>

    


    </div>



    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>



